<html>

<head>
  <!-- AFTER HTML loads in browser, browser will request for CSS. -->
  <!-- <link rel="stylesheet" href="styles.css"> -->
</head>

<body>
  <main>
  <h2>Habitat:</h2>
  <p> <%= idQuery.habitat %></p>
 <h2>Date:</h2> 
 <p><%= idQuery.date %>  </p>
  <h2>Flock Size:</h2> 
 <p><%= idQuery.flock_size %>  </p>
   <h2>Appearance:</h2> 
 <p><%= idQuery.appearance %>  </p>
    <h2>Vocalisations:</h2> 
 <p><%= idQuery.vocalisations %>  </p>
     <h2>Behaviour_ID:</h2> 
 <p><%= idQuery.behaviour_id %>  </p>
     <h2>Species_ID:</h2> 
 <p><%= idQuery.species_id %>  </p>
      <h2>User_IDnum:</h2> 
 <p><%= idQuery.user_idnum %>  </p>
  </main>

</body>

<footer>
  <p><a href="/">Return to main page</a></p>
</footer>

</html>